<div class="h-screen grid grid-rows-[auto_1fr] bg-pink-200">
    <div class="logo">
        <app-navigation />
    </div>
    <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col gap-4 min-w-sm p-8 rounded-xl bg-white">
            <h2 class="text-center text-xl">Вход</h2>
            <form [formGroup]="loginForm" (submit)="onSubmit()" class="flex flex-col gap-4" action="#">
                <input
                    formControlName="username"
                    class="border-b-1 border-slate-300 py-2 outline-none"
                    type="text"
                    placeholder="Логин"
                    maxlength="100"
                    required
                />
                <input
                    formControlName="password"
                    class="border-b-1 border-slate-300 py-2 outline-none"
                    type="password"
                    placeholder="Пароль"
                    maxlength="100"
                    required
                />
                <button
                    class="rounded-md py-2 px-4 cursor-pointer bg-pink-200 disabled:bg-gray-200 disabled:text-gray-600 disabled:cursor-default"
                    type="submit"
                    [disabled]="!loginForm.valid"
                >
                    Войти
                </button>

                @if(errors.length > 0) {
                <ul class="errors">
                    @for(error of errors; track $index) {
                    <li>{{ error }}</li>
                    }
                </ul>
                }
                <p class="text-center">
                    Нет аккаунта? <a class="text-blue-600" routerLink="/register">Создать аккаунт</a>
                </p>
            </form>
        </div>
    </div>
</div>
