@let isReady = isReady$ | async; @let trainings = trainings$ | async;

<div class="relative h-screen">
    <app-navigation class="absolute w-full" />
    <main class="flex justify-center h-full bg-pink-100 pt-24">
        <div class="w-full h-full max-w-280 bg-white">
            <div class="border-b-1 border-pink-600 p-8">
                <a routerLink="/create-training" class="bg-pink-200 py-4 px-8 rounded-full">Опубликовать тренировку</a>
            </div>
            <div class="grid grid-cols-2 gap-4 p-8">
                @if (isReady) { @for(training of trainings; track training.id) {
                <a [routerLink]="'/trainings/' + training.id" class="border-1 border-gray-300 rounded-xl">
                    <img
                        class="w-full rounded-t-xl"
                        [src]="base64ToUrlSafe(training.previewUrl)"
                        alt="Превью тренировки"
                    />
                    <div class="p-4 pt-4">
                        <div class="flex gap-2 items-center">
                            @if (training?.author?.avatar) {
                                <img class="w-10 h-10 object-cover rounded-full" [src]="base64ToUrlSafe(training.author.avatar ?? '')" alt="">
                            } @else {
                                <div class="w-8 h-8 rounded-full bg-pink-300">
                                    {{ training.author.firstName.charAt(0).toUpperCase() }}
                                </div>
                            }
                            <p>{{ training.author.firstName }}</p>
                        </div>
                        <h2 class="text-xl font-bold pt-2">{{ training.title }}</h2>
                        <small class="block text-sm text-gray-600 mt-2"
                            >Опубликовано {{ training.creationDate | date : "short" }}</small
                        >
                    </div>
                </a>
                } @empty {
                <p class="col-span-2 text-center p-4">Пусто</p>
                } } @else {
                <p class="col-span-2 text-center p-4">Загрузка тренировок...</p>
                }
            </div>
        </div>
    </main>
</div>
