@use "variables" as *;

.register-page {
    background-color: $color-pink;
}

.formInner {
    background-color: $color-white;
}

.submitButton {
    background-color: $color-pink-accent;
    color: $color-white;
}

.submitButton:hover {
    background-color: $color-pink-accent-2;
    transition: all 0.2s ease-in-out;
}

.submitButton:disabled {
    background-color: $color-gray;
    color: $color-text;
    cursor: not-allowed;
}

.inputOption {
    background-color: $color-gray;
    color: $color-text;
    transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked + .inputOption {
    background-color: $color-pink-accent;
    color: $color-white;
}