@let isReady = isReady$ | async; @let user = user$ | async; @let proteins = proteins$ | async; @let fats = fats$ |
async; @let carbohydrates = carbohydrates$ | async;

<div class="flex flex-col justify-center items-center gap-8 w-full">
    @if (isReady) { @if (user) {
        <div class="flex justify-center gap-4">
            <button (click)="prevDay()" class="cursor-pointer">
                <img class="h-6" src="arrow-left.svg" alt="Arrow left" />
            </button>
            <div>{{ getCurrentDateString() }}</div>
            <button (click)="nextDay()" class="cursor-pointer">
                <img class="h-6" src="arrow-right.svg" alt="Arrow right" />
            </button>
        </div>
    <div class="grid grid-cols-3 w-full max-w-240 border-1 border-pink-300 rounded-xl">
        <div class="flex flex-col">
            <h2 class="flex flex-col justify-center items-center w-full p-4 border-b-1 border-pink-300">Белки</h2>
            <p class="flex flex-col justify-center items-center w-full p-4">{{ proteins }}</p>
        </div>
        <div class="flex flex-col">
            <h2 class="flex flex-col justify-center items-center w-full p-4 border-b-1 border-pink-300">Жиры</h2>
            <p class="flex flex-col justify-center items-center w-full p-4">{{ fats }}</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h2 class="flex flex-col justify-center items-center w-full p-4 border-b-1 border-pink-300">Углеводы</h2>
            <p class="flex flex-col justify-center items-center w-full p-4">{{ carbohydrates }}</p>
        </div>
    </div>
    } @else {
    <p class="p-4">Не удалось загрузить данные пользователя</p>
    } } @else {
    <p class="p-4">Загрузка данных пользователя...</p>
    }
</div>
